<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button> <a href="http://www.yahoo.com"> SUBSCRIBE NOW </a></button>
			</li>
			<li>
				<button> <a href="http://www.yahoo.com"> LOG IN </a></button>
			</li>
			<li id="search-modal-btn" class="gear">
				<i class="fas fa-cog"></i>
			</li>
		</ul>		
	</nav>


</header>